$garlock-red: rgb(234,0,22); // Bosch Red
$main-blue: rgba(0, 46, 93, 1);
$black: rgb(0,0,0);
$garlock-dark-blue: rgba(0, 46, 93, 1);
$garlock-light-gray: rgb(191,192,194); 
$garlock-light-gray-w75: rgb(239,239,240);
$white: #ffffff;
$garlock-light-blue: rgb(0,142,207);