@import "./colors";
@include font-face('Bosch Sans', ('../Fonts/BoschSans-Light'), 200, normal,  woff2 woff ttf);
@include font-face('Bosch Sans', ('../Fonts/BoschSans-Regular'), 400, normal,  woff2 woff ttf);
@include font-face('Bosch Sans', ('../Fonts/BoschSans-Medium'), 500, normal,  woff2 woff ttf);
@include font-face('Bosch Sans', ('../Fonts/BoschSans-Bold'), 700, normal,  woff2 woff ttf);
@include font-face('Bosch Sans', ('../Fonts/BoschSans-Black'), 900, normal, woff2 woff ttf);

@include font-face('Bosch Sans', ('../Fonts/BoschSans-LightItalic'), 200, italic,  woff2 woff ttf);
@include font-face('Bosch Sans', ('../Fonts/BoschSans-RegularItalic'), 400, italic,  woff2 woff ttf);
@include font-face('Bosch Sans', ('../Fonts/BoschSans-MediumItalic'), 500, italic,  woff2 woff ttf);
@include font-face('Bosch Sans', ('../Fonts/BoschSans-BoldItalic'), 700, italic,  woff2 woff ttf);
@include font-face('Bosch Sans', ('../Fonts/BoschSans-BlackItalic'), 800, italic, woff2 woff ttf);

@include font-face('Bosch Icons', ('/assets/Fonts/garlock-Icon'), normal, normal,  woff2 woff ttf);

@mixin boschFont {
    color: $black;
    background-color: inherit;
    font-family: 'Bosch Sans';
}

@mixin boschIcon {
    font-size: 2rem;
    vertical-align: middle;
    display: inline-block;
    border: none;
    font-family: 'Bosch Icons' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin fontDetail ( $fontSize: 20px, $lineHeight: normal, $letterSpacing: normal, $fontWeight: 200, ) {
    font-size: $fontSize;
    line-height: $lineHeight;
    font-weight: $fontWeight;
    letter-spacing: $letterSpacing;
}

i, .iconFont {
    @include boschIcon();
}

h1 {
    @include boschFont();
    @include fontDetail(48px, 52px, -0.01em);
}

h2 {
    @include boschFont();
    @include fontDetail(36px, 40px, -0.01em);
}

h3 {
    @include boschFont();
    @include fontDetail(28px, 32px);
}

h4 {
    @include boschFont();
    @include fontDetail(24px, 28px);
}

h5 {
    @include boschFont();
    @include fontDetail(20px, 24px);
}

h6{
    @include boschFont();
    @include fontDetail(16px, 20px);
}

p{ // Line-length should be between 50–80 characters per line.
    
    @include boschFont();
    @include fontDetail(14px, 20px);

    &.large {   // Introductions of longer articles, brief and concise description texts
        @include fontDetail(20px, 26px);
    }
    &.big {     // Sections requiring prolonged reading (e.g. articles or documentation)
        @include fontDetail(16px, 22px);
    }
    &.medium {  // [STANDAR SIZE] Short or medium text blocks, text in UI elements (i.e. tables or forms). 
        @include fontDetail(14px, 20px);
    }
    &.small{    // [ Labels ] Content with lower priority, e.g. legal text. Also: UI elements of reduced size, e.g. labels. 
        @include fontDetail(12px, 18px, 0.03em )
    }
}

.largest{
    @include fontDetail(144px, 144px, -0.025em, );
}
.larger{
    @include fontDetail(100px, 96px, -0.025em, );
}
.large {
    @include fontDetail(60px, 64px, -0.03em, );
}

.caption{
    @include fontDetail(14px, 20px, normal, 400 );
}

@include viewports(tiny){
    h1 {
        @include fontDetail(32px, normal, -0.01em);
    }

    h2 {
        @include fontDetail(28px, normal, -0.01em);
    }

    h3 {
        @include boschFont();
        @include fontDetail( 24px );
    }

    h4 {
        @include boschFont();
        @include fontDetail( 20px );
    }

    h5 {
        @include boschFont();
        @include fontDetail( 16px );
    }

    h6{
        @include boschFont();
        @include fontDetail( 16px );
    }

    p{ 

        &.large {   // Introductions of longer articles, brief and concise description texts
            @include fontDetail(16px, normal);
        }
    }

    .largest{
        @include fontDetail(64px, normal, -0.025em, );
    }
    .larger{
        @include fontDetail(48px, normal, -0.025em, );
    }
    .large {
        @include fontDetail(40px, normal, -0.03em, );
    }
}