.footer{
    bottom: 0;
    left: 55px;
    position: fixed;
    width: 100%;
    background-color:white;
    height: 10%;
}

.supergraphic_footer{
        height: 15px;
        width: 100%;
        z-index: 1;
        position: absolute;
        bottom: 0;
}