.toggle-button{
    display: flex;
    flex-direction: column;
    height: 24px;
    width: 48px;
    background: transparent;
    justify-content: space-around;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
}
.toggle-logo{
    margin-left: 1rem;
}
.toggle-button:focus{
     outline: none;
}

.toggle-button-line{
    width: 30px;
    height: 2px;
    background: black;
}