@import '../../assets/scss/_colors';
.side-drawer{
    height: 100%;   
    background: white;
    box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
    position: fixed;
    left: 0;
    width: 55px;
    max-width: 400px;
    overflow:hidden;
    z-index: 200;
    transition: .2s ease-out;
}

.side-drawer.open{
    width: 250px;
    transition: .25s ease-in-out;
}

li .icon label{
    margin-left: 1rem;
}
.side-drawer ul{
    height: 100%;
    list-style: none;
    padding-top: 20px;
    display: flex;
    padding-left: 1.1rem;
    flex-direction: column;
    font-size: 1.2rem;
}

li .icon{
    width: 80%;
    height: 2rem;
    overflow: hidden;
}

.side-drawer li .icon label{
    display:none;
}
.side-drawer.open li .icon label{
    display: inline-block;
}

.side-drawer li{
    padding-bottom: 1.5rem;
    display: flex;
}
.side-drawer .icon:hover{
    color: blueviolet;
}
.side-drawer a{
    padding-left: 1.5rem;
    color: $garlock-dark-blue;
    text-decoration: none;
}

.side-drawer a:hover,.side-drawer a:active{
    color: cyan;
}