
.toolbar{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background-color:white;
    height: 10%;
    overflow: hidden;
    z-index: 1;
    box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
}
.supergraphic{
    height: 15px;
    width: 100%;
    z-index: 1;
    position: absolute;
}
.logo{
    width: 200px;
    height: 90px;
}
.nav-toolbar{
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}
.toolbar-nav-items ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.toolbar-logo{
    padding-left: 0.5rem;
}
.toolbar-logo a{
    position: absolute;
    top: 20px;
    background:url('../../assets/logo.png')no-repeat;
    display: block;
    width: 10rem;
    height: 100px;
    background-size: 10rem auto;
    box-sizing: border-box;
}
.toolbar-nav-items li{
    padding: .5rem;
}
.toolbar-nav-items a{
    color: blueviolet;
    text-decoration: none;
}
.spacer{
    flex: 1;
}
.toolbar-nav-items a:hover{
    color: yellow;
    text-decoration: none;
}
.toolbar-logo a{
    color: blueviolet;
    text-decoration: none;
    font-size: 2rem;
}

.name{
    display: block;
    position: relative;
    font-size: initial;
}

.position{
    font-size: smaller;
}

section{
    padding-top: 10px;
    padding-right: 15px;
}