html{
  width: 100%;
  height: 100%;
}
.content{
    height: 100%;
  width: 100%;;
  }
  main{
    height: 100%;
    position: relative;
    
  }
  .logo-login{
    background: url('../../assets/logo.png')no-repeat;
    position: relative;
    margin:auto;
    margin-top: 10%;
    display: block;
    width: 15rem;
    height: 100px;
    background-size: 15rem auto;
    box-sizing: border-box;
  }
  .register-container{
    display:block;
    margin:auto;
    position: relative;
    box-sizing: border-box;
    box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
    width: 80%;
    height: auto;
    min-height:70%;
    position: relative;
    padding-top: 3%;
    padding-left: 5%;
  }

  .login-container {
    display: block;
    box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
    flex-direction: column;
    position: relative;
    margin-left: 33%;
    margin-top: 0%;
    height: auto;
    min-height: 40%;
    width: 35%;
    background-color: white;
    padding-left: 0%;
    padding-bottom: 2%;
    padding-top: 2%;
}

#root{
  height: 100%;
  width: 100%;;
}
form{
  width: 100%;
  position: relative;
  height: 100%;
}

.detailcontainer{
  margin-top: 5rem;
}
body{
  height: 100%;
  width: 100%;;
}
  .login{
      height: 100%;
      width: 100%;
      position: relative;
  }

.input-container{
  position: relative;
  width: 90%;
  height: auto;
}

.Users{
  width: 100%;
  height: 100%;
  position: absolute;
  align-items: center;
}
.garlock-logo{
  width: 10rem;
  height: 5rem;
}
.garlock-logo a{
  position: relative;
    top: 20px;
    left:20px;
    background:url('../../assets/logo.png')no-repeat;
    display: block;
    width: 10rem;
    height: 60px;
    background-size: 10rem auto;
    box-sizing: border-box;
}
.table-toolbar{
  position: relative;
  height: 80px;
  width: 100%;
  background-color: rgba(0, 46, 93, 1);
  vertical-align: middle;
}
.table-toolbar button{
  position: relative;
  float: right;
  vertical-align: middle;
}
.table-toolbar a{
  position: relative;
}
.table-display{
  position: relative;
  margin:auto;
  width: 90%;
  align-items: center;
  height: auto;
  margin-bottom: 10%;
}
.btnspan{
  width: 100%;
  height: 3rem;
  position: relative;
  margin-top: 2rem;
}
.table-display .add-button{
  position: absolute;
  right:5%;
  overflow: hidden;
}
.add-button button{
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: rgba(0, 46, 93, 1);
  color: white;
  border: none;
}

  .mainContainer {
    margin: auto;
    width: 75%;
    position: relative;
    padding-top: 3%;
    margin-top:2rem;
    margin-bottom: 5%;
}
.isHidden {
  display: none;
}

.buttonspan{
  position: relative;
  padding-top: 5%;
  padding-bottom: 5%;
}

.flex {
  min-height: 60pt;
  position: absolute;
  top:40%;
  left:50%;
}

@keyframes loading {
  0% {
    width: 50pt;
    height: 50pt;
    margin-top: 0;
  }
  25% {
    height: 4pt;
    margin-top: 23pt;
  }
  50% {
    width: 4pt;
  }
  75% {
    width: 50pt;
  }
  100% {
    width: 50pt;
    height: 50pt;
    margin-top: 0;
  }
}

.loader {
  width: 50pt;
  height: 50pt;
  border-radius: 100%;
  border: rgba(0, 46, 93, 1) 4pt solid;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  animation: loading 1s infinite;
}