@import '../../../assets/scss/colors';


.FormField:not(.FormFieldInputCheckbox) {
    margin-bottom: 1rem;
    
    .FormFieldWrapper {
        position: relative;
    
        .FormFieldElement {
            border-radius: 0;
            background: 0 0;
            border: 0;
            padding: 0 15px;
            width: 100%;
            z-index: 2;
            outline: 0;
            border-bottom: 1px solid #e6e6e6;
            height: 48px;
            left: 0;
            margin-left: 0;
            margin-top: 1em;
            position: relative;
            font-size: inherit;
            font-family: inherit;
    
            &:focus + .FormFieldLabel {
                cursor: default;
                font-weight: 700;
                color: $black;
                transform: translateY(0) scale(.7);
                white-space: nowrap; 
            }
    
            &:focus + .FormFieldLabel + .FormFieldBackground {
                opacity: 1;
                transform: scaleY(1);
            }
    
            &:required + .FormFieldLabel > .FormFieldLabelText:after {
                content: '*';
                display: inline;
                padding-left: 2px;
                vertical-align: top;
            }
    
            &.isInvalid {
                border-bottom: 1px solid $garlock-red;
            }
    
        }
    
        
    
        .FormFieldBackground {
            bottom: 0;
            display: block;
            height: calc(100% - 1em);
            left: 0;
            position: absolute;
            z-index: -2;
            opacity: 0;
            width: calc(100% + 1.9rem);
            background-color: #f7f7f7;
            transition: opacity cubic-bezier(.38,.04,.35,.96) 400ms,transform cubic-bezier(.38,.04,.35,.96) 400ms,-webkit-transform cubic-bezier(.38,.04,.35,.96) 400ms;
            transform-origin: 0 100%;
            transform: scaleY(0);
        }
    }
}


.FormFieldValidation {
    height: auto;
    padding-top: .5rem;
    position: relative;

    .FormFieldMessageContainer {
        font-size: .75rem;
        font-weight: 700;
        line-height: 1.125rem;
        margin-left: 15px;
        margin-right: 0;
        position: relative;

        .FormFieldMessage {
            &.FormFieldMessageError {
                color: $garlock-red;
            }
        }
    }
}

.FormField:not(.FormFieldInputCheckbox) {
    .FormFieldLabel {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 15px;
        cursor: text;
        color: $garlock-light-gray;
        height: 1em;
        line-height: 1em;
        transform: translateY(24px) translateY(.5em);
        transform-origin: 0 0;
        transition: all 400ms cubic-bezier(.38,.04,.35,.96) 400ms;
    }

    .FormFieldElement.notEmpty + .FormFieldLabel {
            cursor: default;
            font-weight: 700;
            color: $black;
            transform: translateY(0) scale(.7);
            white-space: nowrap; 
    }
}

.FormFieldInputCheckbox {
    .FormFieldElement {
        position: absolute;
        visibility: hidden;
        vertical-align: top;

        &:required + .FormFieldLabel > .FormFieldLabelText:after {
            content: '*';
            display: inline;
            padding-left: 2px;
            vertical-align: top;
        }
    }

    .FormFieldElement:checked + .FormFieldLabel .FormFieldIcon .Icon {
        display: block;
    }

    .isInvalid {
        color: $garlock-red;
    }

    .FormFieldLabel {
        margin-top: 0;
        padding-top: 0;
        color: initial;
        cursor: pointer;
        display: inline-block;
        font-size: .875rem;
        padding-left: 30px;
        user-select: none;
        width: 100%;
        left: 0;
        margin-left: 0;
        position: relative;
        height: auto;

        .FormFieldIcon {
            background: $garlock-light-gray-w75;
            border-bottom: 2px solid $garlock-light-gray;
            bottom: -1px;
            display: inline-block;
            height: 20px;
            margin-left: -30px;
            left: 0;
            position: relative;
            width: 20px;

            .Icon {
                display: none;
                path {
                    fill: $garlock-dark-blue;
                }
            }
        }

        .FormFieldLabelText {
            display: inline;
            font-size: 1rem;
            margin-left: 10px;
            vertical-align: top;
        }
    }
}